body {
	background-color: #363F45; 
	font-family: 'Arimo', sans-serif;
}

header {
	padding-top: 20px;
	padding-bottom: 30px;
	letter-spacing: 20px;
	background: linear-gradient(to bottom,#363F45 0,#4F5A61 100%);
	border-bottom: 5px solid #363F45;
}

header h1 {
	color: #fff;
	font-size: 55px;
}

header p {
	color: #fff;
	padding: auto 0;
}

.icon-bar {
	background-color: #333338;
}

.main {
	background: url(../images/gray_jean_@2X.jpg) repeat;
	padding: 100px 0;
}

.main img {
	border-radius: 40px;
}

.bae {
	margin-bottom: 50px;
}

.baebot {
	padding: 100px 0;
}

.social {
	padding: 50px 0;
	background: linear-gradient(to bottom,#363F45 0,#4F5A61 100%);
}

.social img {
	height: 100px;
}

.more {
	background: url(../images/gray_jean_@2X.jpg) repeat;
	padding: 100px 0 70px 0;
}

.more img {
	margin-bottom: 30px;
}

footer {
	padding: 50px 0;
	color: #fff;
	background: linear-gradient(to bottom,#363F45 0,#4F5A61 100%);
}

@media screen and (max-width: 664px) {
	header h1 {
		font-size: 45px;
	}
}
